body {
	margin:0;
	padding:0;
	color:#000;
	background:#dfdfdf;
}
#main {
	width:990px;
	margin:0 auto;
	background:#ffffff;
}
#header {
	padding:0;
	margin:0 auto;
	text-align: left;
	background:#ffffff;
	border-bottom: 2px solid #EFEFEF;
	height: 130px;
	margin-bottom:10px;
}
#content{
	float:left;
	overflow:hidden;
    margin: 0 auto;
}
#page {
	float:left;
	width:704px;
	padding:2px;
	background:#ffffff;
	text-align:center;
	border-right: 1px dashed #EFEFEF;
}
#sidebar {
	float:left;
	width:277px;
	padding:0px;
	min-height:700px;
	padding-left:2px;
	background:#ffffff;
	border:0;
	height:100%;
	overflow: hidden;
	text-align:center;
}
#footer {
	clear:both;
	padding:0;
	background:#ffffff;
	text-align:center;
	font-size:12px;
	color:#999999;
}
#headerRight{
	width: 860px;
	height: 130px;
	background:#ffffff;
	float: right;
	margin:0;
	margin:0;
	text-align:center;

}
#headerLeft{
	width: 130px;
	height: 130px;
	background:#ffffff;
	float: left;
	margin:0;
	padding:0;
}
#headerLogo{
	width: 120px;
	height: 120px;
	margin: 5px;
}
#headerRight h1 a {
	color: #91c44e;
	text-decoration: none;
	letter-spacing: -1px;
	font-size: 31px;
	padding-top: 28px;
}
#headerRight h1 .red_small{
	font-size: 19px;
	color: #db3630;
}
#headerRight h1 .green_small{
	font-size: 18px;
	color: #91c44e;
	text-transform: uppercase;
}
#headerRight h1{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 14px;
}
.mapStyle {
	width:500px;
	height:500px;
	margin: 0 auto;
}

.Rform{
	border:0;
	width:560px;
	padding:0;
	border-spacing:0;
}
.RformR{
	text-align:center;
	width:280px;
	height:35px;
	padding:0;
	margin:0;
	background-image: url(http://localhost:8080/new/images/form_bgR.png);
	background-repeat:no-repeat;
}
.RformR input, .RformR select{
	width: 240px;
	background: #6ef06e;
	border: 1px #32A022 solid;
	margin-top:-1px;
	text-align:center;
}
.RformR input{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.RformR select{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.RformL{
	text-align:center;
	width:280px;
	height:35px;
	padding:0;
	margin:0;
	background-image: url(http://localhost:8080/new/images/form_bgL.png);
	background-repeat:no-repeat;
}
.trRform{
	height:39px;
	padding:0;
	margin:0;
}
.trRformCaptcha{
	height:94px;
	padding:0;
	margin:0;
}
.trRformCaptcha .RformR{
	text-align:center;
	width:280px;
	height:90px;
	padding:0;
	margin:0;
	background-image: url(http://localhost:8080/new/images/form_bgRC.png);
	background-repeat:no-repeat;
}
.trRformCaptcha .RformL{
	text-align:center;
	width:280px;
	height:90px;
	padding:0;
	margin:0;
	background-image: url(http://localhost:8080/new/images/form_bgLC.png);
	background-repeat:no-repeat;
}.trRformCaptcha .RformL img{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 2px #0CFF0C solid;
}


.Logform{
	border:0;
	width:560px;
	padding:0;
	border-spacing:0;
}
.LogformR{
	text-align:center;
	width:280px;
	height:35px;
	padding:0;
	margin:0;
	background-image: url(http://localhost:8080/new/images/form_bgR.png);
	background-repeat:no-repeat;
}
.LogformR input{
	width: 240px;
	background: #6ef06e;
	border: 1px #32A022 solid;
	margin-top:-1px;
	text-align:center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.LogformL{
	text-align:center;
	width:280px;
	height:35px;
	padding:0;
	margin:0;
	background-image: url(http://localhost:8080/new/images/form_bgL.png);
	background-repeat:no-repeat;
}
.trLogform{
	height:39px;
	padding:0;
	margin:0;
}
#menuList{
	border: 2px #4fe44f solid;
	width:271px;
	margin: 0 auto;
}
#menu img{
	border: 0;
	margin: 0 auto;
}
.news_date{
	font-family: Arial, sans-serif;
	color: #404040;
	font-size: 10px;
	font-weight: bold;
	text-align:left;
}
.news{
	width:688px;
	padding:8px;
	text-align:left;
	border-bottom: 1px dashed #EFEFEF;
}
.news_title a{
	color:#6EB700;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;

}
.news_text{
	color: #767369;
	font-family: Arial, sans-serif;
	font-size: 14px;
}
.news_feedback, .news_feedback a{
	color:#999B7B;
	font-size: 12px;
}
a {
	text-decoration: none;
	color: #218dd1;
}
a:hover {
	color: #404040;
}

.comment1{
	background:#F3F3F3;
	text-align:left;
	padding:3px;
}
.comment0{
	background:#FFFFFF;
	text-align:left;
	padding:3px;
}
.comment_author{
	color: #8CAF51;
	font-family: Arial, sans-serif;
	font-size: 13px;
}
.comment_date{
	color: #999999;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
.comment_text{
	color: #767369;
	font-family: Arial, sans-serif;
	font-size: 14px;	
}