body {
	margin:0;
	padding:0;
	color:#000;
	background:#dfdfdf;
}
#main {
	width:990px;
	margin:0 auto;
	background:#ffffff;
}
#header {
	padding:0;
	margin:0 auto;
	text-align: left;
	background:#ffffff;
}
#content{
	float:left;
	overflow:hidden;
    margin: 0 auto;
}
#page {
	float:left;
	width:710px;
	padding:0px;
	background:#ffffff;
	text-align:center;
}
#sidebar {
	float:left;
	width:277px;
	padding:0px;
	min-height:700px;
	padding-left:2px;
	background:#ffffff;
	border:0;
	border-left-color: #888888;
	border-left-style: solid;
	border-left-width: 1px;
	height:100%;
	overflow: hidden;
	text-align:center;
}
#footer {
	clear:both;
	padding:0;
	background:#ffffff;
	text-align:center;
	font-size:12px;
	color:#999999;
}
#headerRight{
	width: 860px;
	height: 130px;
	background:#ffffff;
	float: right;
	margin:0;
	margin:0;
	text-align:center;

}
#headerLeft{
	width: 130px;
	height: 130px;
	background:#ffffff;
	float: left;
	margin:0;
	padding:0;
}
#headerLogo{
	width: 120px;
	height: 120px;
	margin: 5px;
}
#headerRight h1 a {
	color: #91c44e;
	text-decoration: none;
	letter-spacing: -1px;
	font-size: 31px;
	padding-top: 28px;
}
#headerRight h1 .red_small{
	font-size: 19px;
	color: #db3630;
}
#headerRight h1 .green_small{
	font-size: 18px;
	color: #91c44e;
	text-transform: uppercase;
}
#headerRight h1{
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	font-size: 14px;
}
.mapStyle {
	width:500px;
	height:500px;
	margin: 0 auto;
}